<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insighters.ash.note_maker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <meta-data
        android:name="firebase_analytics_collection_deactivated"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Settings" />
        <activity android:name=".activities.AddNew" />
        <activity android:name=".activities.MoreInfo" />
        <activity android:name=".activities.ShowNotes" />
        <activity android:name=".activities.ViewNote" />
        <!-- <activity android:name=".NoteMaker.activity_show_notes_list" /> -->
        <activity android:name=".NoteMaker.swipeListShowNotes" />

        <receiver android:name=".NoteMaker.AlarmReceiver"></receiver>

        <activity android:name=".activities.ViewNotesCard"></activity>
    </application>

</manifest>